<form>
    <p class="lead mt-3">1. Using [(ngModel)]</p>
    <select class="form-select" name="optionbox" [(ngModel)]="switchValue" aria-label="Default select example">
        <option>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

    <div [ngSwitch]="switchValue">
        <div *ngSwitchDefault ngClass="text-primary">No Text</div>
        <div *ngSwitchCase="1" ngClass="text-info">Text 1</div>
        <div *ngSwitchCase="2" ngClass="text-info">Text 2</div>
        <div *ngSwitchCase="3" ngClass="text-info">Text 3</div>
    </div>
    <p>Switch value: {{ switchValue }}</p>

    <p class="lead mt-3">2. Using [ngModel] & (ngModelChange)</p>
    <input type="text" [ngModel]="age" name="age" (ngModelChange)="age=$event" placeholder="Enter age">
    <p *ngIf="age">Age: {{ age }}</p>
</form>
